# Ignore everything
*

#except:
!.gitignore
!/alacritty/
!/alacritty/*
!/BetterDiscord/
!/BetterDiscord/*
!/dunst/
!/dunst/*
!/fish/
!/fish/*
!/fontconfig/
!/fontconfig/*
!/i3/
!/i3/*
!/ncspot/
!/ncspot/config.toml
!/picom/
!/picom/*
!/polybar/
!/polybar/*
