# Ignore everything
*

#except:
!.gitignore
!/alacritty/
!/alacritty/*
!/alacritty/**/*
!/dunst/
!/dunst/*
!/dunst/**/*
!/fish/
!/fish/*
!/fish/**/*
!/fontconfig/
!/fontconfig/*
!/fontconfig/**/*
!/i3/
!/i3/*
!/i3/**/*
!/ncspot/
!/ncspot/config.toml
!/picom/
!/picom/*
!/picom/**/*
!/polybar/
!/polybar/*
!/polybar/**/*
!/astronvim/
!/astronvim/*
!/astronvim/**/*
!/scripts/
!/scripts/*
!/scripts/**/*
!/qutebrowser/
!/qutebrowser/*
!/qutebrowser/**/*
